# See https://realpython.com/how-to-make-a-discord-bot-python/
discord_token = (
    "<DISCORD API TOKEN>"
)
# Discord channel for bot to post alerts on
discord_channel_id = <DISCORD CHANNEL ID>
# API Key for AIS Stream
api_key = <AISSTream API Key>
arena = [[[lat, lon], [lat, lon]]]

# Will ignore update time interval and just record all
# Will probably create large files
record_all = False

# Minimum number of seconds before updating a vessel location
# When logging a boat's position, if at least this time elapsed since last time stamp, update
update_interval = 15

boats_log_file = "data/boats.log.csv"
aircrafts_log_file = "data/aircrafts.log.csv"

images_directory = "images/"

tracked_boats = [
    {
        "mmsi": 1234,
        "name": "Boat name",
        "color": "red"
    },
]
# Define regions for alerting
regions = {
    "port": {
        "lat": [],
        "lon": [],
        "name": "Port Region",
    },
}
