discord_webhook_url = <DISCORD WEBHOOK>
# API Key for AIS Stream
api_key = <AISSTream API Key>
arena = [[[lat, lon], [lat, lon]]]

# Will ignore update time interval and just record all
# Will probably create large files
record_all = False

# Minimum number of seconds before updating a vessel location
# When logging a boat's position, if at least this time elapsed since last time stamp, update
update_interval = 15

boats_log_file = "data/boats.log.csv"
aircraft_log_file = "data/aircraft.log.csv"

images_directory = "images/"

tracked_boats = [
    {
        "mmsi": 1234,
        "name": "Boat name",
        "label": "Label",
        "color": "red"
    },
]
# Define regions for alerting
regions = {
    "port": {
        "lat": [],
        "lon": [],
        "name": "Port Region",
    },
}
