api_key = "<AIS STream API Key>"
arena = [[[lat, lon], [lat, lon]]]

# Minimum number of seconds before updating a vessel location
# When logging a boat's position, if at least this time elapsed since last time stamp, update
update_interval = 30

boats_state_file = "boats.csv"
planes_state_file = "plane.csv"

boats_log_file = "boats.log.csv"
aircrafts_log_file = "aircrafts.log.csv"
